<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DQCollectionViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC0D5E0D1DF2B9590042E35D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC0D5E261DF2B9590042E35D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC0D5E311DF2B9590042E35D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
